.footer {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 50px;
    justify-content: space-between;
    padding: 75px 0;
    border-bottom: 1px solid #e5e5e5;
}

.footer_item {
    font-size: 14px;
    font-family: "monts_400";
    text-transform: uppercase;
    width: 100%;
}


/* logo  */

.logo_footer {
    font-family: "monts_700";
    font-size: 42px;
    color: #cccccc;
    text-transform: none;
    
}

.logo_footer_text{
    font-family: "robo_400";
    font-size: 15px;
    color: #999999;
    text-transform: none;
    margin: 45px 0;
}

.footer_header_wrap {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.footer_header{
    font-family: "monts_700";
    font-size: 15px;
    text-transform: none;
}

.footer_text {
    font-family: "monts_400";
    font-size: 15px;
    text-transform: none;
    margin-left: 10px;
}

.mogo_img_wrap {
    margin-top: 15px;
    display: flex;
}

.mogo_img_text {
    font-family: "robo_300";
    font-size: 15px;
    text-transform: none;
    color: #999999;
}

.mogo_img {
    width: auto;
    margin-left: 15px;
}


.name {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.registr {
    background-color: #ffffff;
    font-family: "robo_300";
    font-size: 15px;
    color: #e7e7e7;
    border: solid 1px #e7e7e7;
    width: 100%;
    height: 40px;
}

.btn_footer {
    width: 100%;
    background-color: #95e1d3;
    padding: 12px 35px;
    color: #ffffff;
    font-family: "monts_700";
    text-transform: uppercase;
    font-size: 14px;
}

/* blogs  */

.blogs_head {
    font-family: "monts_400";
    font-size: 14px;
    text-transform: uppercase;
}

.blogs_item {
    margin-top: 30px;
    display: flex;
 }
 
 .blogs_img {
    width: auto;
    display: block;
}

.blogs_text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .blogs_header {
     text-transform: uppercase;
     display: inline-block;
     font-size: 13px;
     font-family: "robo_300";
 }
 
 .blogs_text {
     text-transform: none;
     margin-top: 10px;
     display: inline-block;
     font-family: "kaush_400";
     font-size: 12px;
     color: #a5a5a5;
 }

 /* inst  */

 .inst_img_wrap {
     margin: 30px 0;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 2px 2px;
 }

 .inst_text {
     font-family: "robo_300";
     font-size: 13px;
 }

 .copy {
    padding: 10px 0;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}

.copy_black {
    font-family: "monts_400";
    font-size: 14px;
    color: #333333;
}
  
.copy_red {
    margin-left: 3px;
    font-family: "monts_400";
    font-size: 14px;
    color: #f38181;
}

@media (max-width: 1200px) {
    .footer {
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        justify-content: space-between;
        padding: 20px 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .footer_item {
        font-size: 14px;
        font-family: "monts_400";
        text-transform: uppercase;
        width: 100%;
    }
}


@media (max-width: 500px) {
    .footer {
        margin: 0 auto;
        max-width: 1200px;
        display: block;
        gap: 50px;
        justify-content: space-between;
        padding: 20px 10px;
        border-bottom: 1px solid #e5e5e5;
    }

    .footer_item {
        font-size: 14px;
        font-family: "monts_400";
        text-transform: uppercase;
        width: 100%;
    }
    
    .footer_item:last-child {
        display: none;
    }
    
    /* logo  */
    
    .logo_footer {
        font-family: "monts_700";
        font-size: 25px;
        color: #cccccc;
        text-transform: none;
        
    }
    
    .logo_footer_text{
        font-family: "robo_400";
        font-size: 15px;
        color: #999999;
        text-transform: none;
        margin: 10px 0;
    }
    
    .footer_header_wrap {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .footer_header{
        font-family: "monts_700";
        font-size: 15px;
        text-transform: none;
    }
    
    .footer_text {
        font-family: "monts_400";
        font-size: 15px;
        text-transform: none;
        margin-left: 10px;
    }
    
    .mogo_img_wrap {
        margin-top: 15px;
        display: flex;
    }
    
    .mogo_img_text {
        font-family: "robo_300";
        font-size: 15px;
        text-transform: none;
        color: #999999;
    }
    
    .mogo_img {
        width: auto;
        margin-left: 15px;
    }
    
    
    .name {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .registr {
        background-color: #ffffff;
        font-family: "robo_300";
        font-size: 15px;
        color: #e7e7e7;
        border: solid 1px #e7e7e7;
        width: 100%;
        height: 40px;
    }
    
    .btn_footer {
        width: 100%;
        background-color: #95e1d3;
        padding: 12px 35px;
        color: #ffffff;
        font-family: "monts_700";
        text-transform: uppercase;
        font-size: 14px;
    }
    
    /* blogs  */
    
    .blogs_head {
        font-family: "monts_400";
        font-size: 10px;
        text-transform: uppercase;
    }
    
    .blogs_item {
        margin-top: 10px;
        display: flex;
     }
     
     .blogs_img {
        width: auto;
        display: block;
    }
    
    .blogs_text_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
     .blogs_header {
         text-transform: uppercase;
         display: inline-block;
         font-size: 10px;
         font-family: "robo_300";
     }
     
     .blogs_text {
         text-transform: none;
         margin-top: 10px;
         display: inline-block;
         font-family: "kaush_400";
         font-size: 10px;
         color: #a5a5a5;
     }
    
     /* inst  */
    
     .inst_img_wrap {
         margin: 10px 0;
         display: none;
         grid-template-columns: 1fr 1fr;
         gap: 2px 2px;
     }

     .inst_img {
         width: 80%;
     }
    
     .inst_text {
         display: none;
         font-family: "robo_300";
         font-size: 10px;
     }
    
     .copy {
        padding: 10px 0;
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
    }
    
    .copy_black {
        font-family: "monts_400";
        font-size: 10px;
        color: #333333;
    }
      
    .copy_red {
        margin-left: 3px;
        font-family: "monts_400";
        font-size: 10px;
        color: #f38181;
    }
    
  }