
body {
    font-family: 'monts_400';
    font-size: 15px;
    color: #333;
}

.section {
    padding: 90px 0 110px;
}

.section--drey {
    background: #f8f8f8;
}

.section--section {
    background: url(../images/devices/devices_bg_02.jpg);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0  auto;
}

.eagle {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: url(../images/eagle.jpg) center no-repeat;
    background-size: cover;
}

@media (max-width: 1200px) {

    .section {
        padding: 30px 10px 30px;
    }
}

@media (max-width: 500px) {

    .section {
        padding: 20px 10px 20px;
    }
}