.map {
    padding: 60px 0;
    background: url(../images/map/map.jpg) center no-repeat;
    background-size: cover;
}

.map_img {
    margin: 0 auto;
    width: auto;
}

.open_map {
    margin-top: 20px;
    text-align: center;
    font-family: "monts_700";
    font-size: 24px;
    color: #f38181;
}

.map_line {
    margin: 20px auto 0;
    height: 3px;
    background-color: #f38181;
    border: none;
    width: 60px;
}

@media (max-width: 500px) {
    .map {
        padding: 30px 0;
        background: url(../images/map/map.jpg) center no-repeat;
        background-size: cover;
    }
}